NODE_ENV=development
PORT=4100
API_BASE_URL="http://127.0.0.1:4100"
FRONTEND_URL="http://127.0.0.1:1420"
CORS_ORIGIN="http://127.0.0.1:1420,http://localhost:1420,http://tauri.localhost,tauri://localhost"
VITE_API_BASE_URL="http://127.0.0.1:4100/api"
DATABASE_URL="postgresql://securelocker:securelocker@127.0.0.1:5432/securelocker?schema=public"
JWT_SECRET="replace-with-a-random-64-byte-secret"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="amirmuster259@gmail.com"
SMTP_PASS="zgcmqwfwjwdixwih"
SMTP_FROM="SecureLocker <amirmuster259@gmail.com>"
AUTH_TOKEN_PEPPER="ROvgKGjinNWh+GfRwSs8U9waLBy34t67kHvQtHRyjxwaGEs6BGgVYvdD04v8ZOludl/gS51ZKWIopMQlwNBLhw=="
